body {
  margin: 0;
  padding: 0;
  height: 100vh;         /* full screen height */
  display: flex;
  justify-content: center;  /* center horizontally */
  align-items: center;      /* center vertically */
  background: #f4f4f4;
}

.todo-container {
  text-align: center;       /* center inside text/elements */
}

.title {
  color: blue;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Remove bullets */
ul {
  list-style: none;
  padding: 0;
}

/* Align text and button side by side with space */
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;   /* space between items */
}

/* Optional: add spacing to the delete button */
.delete-button-heading {
  margin-left: 20px;
  background-color: #ff1a1a ;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button-heading:hover {
  background-color: darkred; /* color changes on hover */
}


.todo-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px; /* ⬅️ adds extra space between items */
  padding: 8px 0;
}

.heading_todo h3 {
  margin: 100px;
}

input {
  padding: 8px;
  margin-right: 8px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}
